<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TestMatrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TestMatrix.Properties.Settings>
            <setting name="DeviceAddress" serializeAs="String">
                <value>172.27.102.186</value>
            </setting>
            <setting name="TestDigitalLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Out1_DigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="Out2_DigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="Out3_DigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="In1_DigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="In2_DigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="TestGoodRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoodRead_pattern" serializeAs="String">
                <value>*good*</value>
            </setting>
            <setting name="GoodRead_TCPClient_hostPort" serializeAs="String">
                <value>51236</value>
            </setting>
            <setting name="GoodRead_TCPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GoodRead_UDPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GoodRead_SerialMain_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GoodRead_SerialAUX_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TestNoRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoRead_pattern" serializeAs="String">
                <value>*noread*</value>
            </setting>
            <setting name="NoRead_TCPClient_hostPort" serializeAs="String">
                <value>51236</value>
            </setting>
            <setting name="NoRead_TCPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="NoRead_UDPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="NoRead_SerialMain_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="NoRead_SerialAUX_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TestPartialRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartialRead_pattern" serializeAs="String">
                <value>*partial*</value>
            </setting>
            <setting name="PartialRead_TCPClient_hostPort" serializeAs="String">
                <value>51236</value>
            </setting>
            <setting name="PartialRead_TCPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PartialRead_UDPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PartialRead_SerialMain_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PartialRead_SerialAUX_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TestMultipleRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultipleRead_pattern" serializeAs="String">
                <value>*multi*</value>
            </setting>
            <setting name="MultipleRead_TCPClient_hostPort" serializeAs="String">
                <value>51236</value>
            </setting>
            <setting name="MultipleRead_TCPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleRead_UDPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleRead_SerialMain_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MultipleRead_SerialAUX_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TestHeartBeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeartBeat_pattern" serializeAs="String">
                <value>*heart*</value>
            </setting>
            <setting name="HeartBeat_TCPClient_hostPort" serializeAs="String">
                <value>51236</value>
            </setting>
            <setting name="HeartBeat_TCPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="HeartBeat_UDPServer_hostPort" serializeAs="String">
                <value />
            </setting>
            <setting name="HeartBeat_SerialMain_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="HeartBeat_SerialAUX_comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneratePhase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneratePeriodicPhase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneratePhaseOnEncoder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhaseOnDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PhaseOffDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PhaseOnRandMinDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PhaseOnRandMaxDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PhaseOffRandMinDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PhaseOffRandMaxDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PhaseOnActiveState" serializeAs="String">
                <value>Active High</value>
            </setting>
            <setting name="GenerateEncoder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncoderGenerated" serializeAs="String">
                <value>Frequency</value>
            </setting>
            <setting name="EncoderFrequency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConveyorSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EncoderSteps" serializeAs="String">
                <value>1.27</value>
            </setting>
            <setting name="GenerateStartStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartStopTransition" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ConveyorOFFMaxDuration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConveyorOFFMinDuration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConveyorONMaxDuration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConveyorONMinDuration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GenerateTrigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriggerDuration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TriggerPeriod" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TriggerActiveState" serializeAs="String">
                <value>Active High</value>
            </setting>
            <setting name="TriggerOnPhaseOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhaseDigitalDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseDigitalPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseDigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerDigitalDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerDigitalPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerDigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderDigitalDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderDigitalPort" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderDigitalLine" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerLineIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhaseLineIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncoderLineIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhaseLineTCP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhaseLineTcpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseLineTcpPhaseonMsg" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseLineTcpPhaseoffMsg" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseLineSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseLineSerialPhaseonMsg" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseLineSerialPhaseoffMsg" serializeAs="String">
                <value />
            </setting>
            <setting name="PhaseLineSerial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriggerLineTCP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriggerLineTcpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerLineTcpTriggerMsg" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerLineSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerLineSerialTriggerMsg" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerLineSerial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logger_EnableLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logger_LoggingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Logger_AppendLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logger_SplitLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logger_SplitMaxSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Logger_LogFileName" serializeAs="String">
                <value>TestMatrixLog.txt</value>
            </setting>
            <setting name="GenerateProtocolIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtocolIndexLineSerial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtocolIndexLineTCP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProtocolIndexLineTcpPort" serializeAs="String">
                <value>51236</value>
            </setting>
            <setting name="ProtocolIndexMessage" serializeAs="String">
                <value>myindex</value>
            </setting>
            <setting name="ProtocolIndexLineSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateFixedTimingProtocolIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProtocolIndexFixedDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProtocolIndexRandomMinDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProtocolIndexRandomMaxDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProtocolIndexCounterStartsFrom" serializeAs="String">
                <value>0</value>
            </setting>
        </TestMatrix.Properties.Settings>
    </userSettings>
</configuration>
